# env / packaging
env/
wheels/

# bytecode stuffs
__pycache__/
*.py[cod]

# jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# other
.idea/*

# exclude actual data
data/*
models/weights/*
models/transformers/swin/experiments/*
experiments/*

# preserve file so that empty dir shows
!data/.gitkeep
!experiments/.gitkeep
!models/weights/.gitkeep
